.cAlign {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.red {
    background-color: rgba(29, 178, 236, 0.363);
    font-size: 100%;
    color: aliceblue;
    height: 23;
}

.green {
    background-color: green;
    color: aliceblue;
}