* {
    margin: 0;
    padding: 0%;
}

h1 {
    color: blueviolet;
}

div {
    background-color: cornsilk;
    color: cadetblue;
}

.red {
    color: red;
}

.blue {
    background-color: blue;
    color: white;
    border: 2px solid red;
}

.orange {
    background-color: orange;
    color: white;
}

.green {
    background-color: green;
    color: white;
}

/* here h1 is an example of selector  */
/* .red is an example of class selector */
/* * is used as a universal selector  */